

.script {

    .card-header {
        background-color: #1b9c9b;
        color: #fff;
        border-bottom: 1px solid #1b9c9b;
        font-size: 2rem;
    }

    .row {
        display: block;

        font-size: 1.5rem;

        .col-md-2 {
            font-size: 0.9rem;
            color: #787878;
        }
    }

}

th {

    &.sortable {

        cursor: pointer;

        .react-bootstrap-table-sort-order {

            position: relative;

            .caret {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px dashed;
                border-top: 4px solid;
                color: #000;
                display: inline-block;
                height: 0;
                margin: 10px 0 10px 5px;
                vertical-align: middle;
                width: 0;
            }

            &.dropup {
                position: relative;

                .caret {
                    border-bottom: 4px dashed;
                    border-top: 0;
                    color: #000;
                    content: "";
                    margin: 10px 0 10px 5px;
                }
            }

        }

    }
}